.confetti1 {
    background-image: url('../img/ball1.png');
}
.confetti2 {
    background-image: url('../img/ball2.png'); 
}
.confetti3 {
    background-image: url('../img/ball3.png'); 
}
.confetti4 {
    background-image: url('../img/ball4.png'); 
}
.confetti5 {
    background-image: url('../img/ball5.png'); 
}
.confetti6 {
    background-image: url('../img/ball6.png'); 
}
.confetti7 {
    background-image: url('../img/ball7.png');
}
.confetti8 {
    background-image: url('../img/ball8.png'); 
}
.confetti9 {
    background-image: url('../img/ball9.png');
}
.confetti10 {
    background-image: url('../img/ball10.png'); 
}
.confetti11 {
    background-image: url('../img/ball11.png');
}
.confetti12 {
    background-image: url('../img/ball12.png'); 
}
.confetti13 {
    background-image: url('../img/ball13.png'); 
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Это позволит кликам проходить через контейнер конфетти */
    overflow: hidden; /* Это предотвратит выход конфетти за пределы контейнера */
    z-index: 1;
    opacity: 20%;
   }

/*//////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////*/

.cat {
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-image: url(../img/cat1.gif);
    position: sticky;
    z-index: 103;
    margin-top: -20px;
    margin-bottom: -90px;
    animation: slideInPresentation 3s forwards;
    justify-content: center;
    align-items: center;
}

/*//////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////*/

.top-presentation .text-1 {
    display: flex;
    font-weight: 100;
    transition: all 500ms ease;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    width: auto;
    justify-content:center;
    animation: text-1-animation 3s forwards;
    margin-bottom: 60px;
    text-align: center;
}

.top-presentation .text-1-1 {
    display: flex;
    font-weight: 100;
    transition: all 500ms ease;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    width: auto;
    justify-content:center;
    animation: text-1-animation 3s forwards;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.top-presentation {
    margin-top: 10px;
}

@keyframes logo-bottom-animation {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes text-1-animation {
    0% {
        transform: translateX(-900px);
        opacity: 30%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes text-2-animation {
    0% {
        transform: translateX(900px);
        opacity: 30%;
    }
    100% {
        transform: translateX(0);
        opacity: 100%;
    }
}


@media screen and (max-width: 600px) {
    .top-presentation .text-all {
        font-size: 25px;
    }
    @media screen and (max-width: 390px) {
        .top-presentation .text-all {
            font-size: 21px;
        }
    }
}

@media screen and (min-width: 600px) {
    .top-presentation .text-all {
        font-size: 30px;
    }
}

@media screen and (max-width: 450px) {
    .top-presentation {
        height: 850px;
    }
}

@media screen and (min-width: 450px) {
    .top-presentation {
        height: 720px;
    }
}

.top-presentation .text-2 {
    margin-top: 20px;
    font-weight: 100;
    transition: all 500ms ease;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    width: auto;
    justify-content:center;
    animation: text-2-animation 3s forwards;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 30px;
}

.top-presentation .text-2-1 {
    margin-top: 20px;
    font-weight: 100;
    transition: all 500ms ease;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    width: auto;
    justify-content:center;
    animation: text-2-animation 3s forwards;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
}

/*------------------*/

.bottom-presentation {
    height:500px;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-image: url(../img/bg13.gif);
    position: sticky;
    position: relative;
    border-radius: 50px;
    z-index: 100;
    margin-top: 0px;
    margin-right:20px;
    margin-left:40px;
    animation: slideInPresentation 3s forwards;
    justify-content: center;
    align-items: center;
    animation: colorAnim1 4s infinite;

}
/*
.bottom-presentation::before {
    content: 'Вы долистали до конца';
    position: absolute;
    top: 50px; 
    left: 50px;
    font-size: 20px; 
    color: #000000; 
    font-weight: 400;
}

.bottom-presentation::after {
    content: 'Ниже можно ознакомиться с правовой информацией';
    
    position: absolute;
    bottom: 50px;
    right: 50px; 
    font-size: 20px; 
    color: #000000; 
    font-weight: 400;
}

*/
/*//////////////////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////////////////////////////////*/