.darkTheme header .logo {
    color: #ffffff;
    background: #00000080;
    border-left: 10px solid var(--logoDark);
    border-right: 10px solid var(--logoDark);
    border-top: 5px solid var(--logoDark);
    border-bottom: 5px solid var(--logoDark) ;
}

.darkTheme header {
    background-color: #00000091;
}

.darkTheme ul.nav li {
    color: #3a3a3a;
    transition: all 500ms ease;
}

.darkTheme header ul.nav li:hover {
    color: #ffffff;
    border-bottom: none;
}

.darkTheme .wrapper {
    background: #363636;
}

.darkTheme .cart-container{
    color: var(--cart-2);
    opacity: 0.8;
}

.darkTheme header .shop-cart-button:hover,
.darkTheme header .shop-cart-button.active {
    color: #fffffff5;
}

.darkTheme .buy {
    color: #242424b5;
    background: #c7c7c786;
    box-shadow: 0 0 10px 10px #d4d4d486, 0 0 10px 10px #d4d4d486 inset;
}

.darkTheme .buy:hover {
    color: #ffffffb5;
    background: #69696986;
    box-shadow: 0 0 10px 10px #2e2e2e86, 0 0 10px 10px #2e2e2e86 inset;
}

.darkTheme .trigger {
    background: var(--nth-4);
    color: #000000;
    border-top: 1px solid #ffffff;
}

.darkTheme .trigger:hover {
    background: #4b4b4b;
    color: #ffffff;
}

.darkTheme main .item {
    background: #3a3a3a;
}

.darkTheme main .item h2,
.darkTheme main .item p,
.darkTheme main .item b{
    color: #ffffff;
}

.darkTheme main .add-to-cart,
.darkTheme .full-item .add-to-cart{
    margin: -52px -10px 0 0 ;
    background: #ffffff;
    color: #000;
}

.darkTheme main .add-to-cart {
    margin: -54px -10px 0 0 ;
}

.darkTheme .full-item .add-to-cart{
    margin: -53px 20px 0 0 ;
}

.darkTheme main .add-to-cart:hover {
    color: #ffffff;
}
.darkTheme .full-item .add-to-cart:hover {
    color: #000000;
}

.darkTheme main .item img{
    border-bottom: 5px solid #ffffff;
}

.darkTheme main .item .img1,
.darkTheme .full-item .img1 {
    border-bottom: 5px solid #ffa07a9a;
}

.darkTheme main .item .img1-click,
.darkTheme .full-item .img1-click {
    border-bottom: 2px solid #ffa07a9a;
}

.darkTheme header .shop-cart {
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

.darkTheme header .shop-cart .empty h2 {
    color: #000000;
}

.darkTheme .modal-content .item h2 {
    color: #ffffff;
}

.darkTheme header .shop-cart .item{
    background: #d4d4d486;
    box-shadow: 0 0 10px 10px #d4d4d486, 0 0 10px 10px #d4d4d486 inset;
}

.darkTheme header .shop-cart {
    color: #000000;
}

.darkTheme header .shop-cart b {
    color: #000000;
}

.darkTheme header .shop-cart .sum{
    border: 1px solid #000000;
    color: #242424b5;
    background: #c7c7c786;
    box-shadow: 0 0 10px 10px #d4d4d486, 0 0 10px 10px #d4d4d486 inset;
}

.darkTheme header .shop-cart .item .close.rounded::before{
    background: #000000;
} 
.darkTheme header .shop-cart .item .close.rounded::after{
    background: #000000;
}

.darkTheme .full-item>div {
    background: #2e2e2e; 
}

.darkTheme form {
    background: #1d1d1d; 
}

.darkTheme form .name {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .phone {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .address {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .message {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .email {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .password {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .verify {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .name1 {
    color: #fff;
}

.darkTheme form .phone1 {
    color: #fff;
}

.darkTheme form .address1 {
    color: #fff;
}

.darkTheme .address1 {
    color: #fff;
}

.darkTheme form .message1 {
    color: #fff;
}

.darkTheme form .email1 {
    color: #fff;;
}

.darkTheme form .password1 {
    color: #fff;
}

.darkTheme form .verify1 {
    color: #fff;
}

.darkTheme .modal-content .sum {
    color: #ffffff;
}

.darkTheme .modal-content b {
    color: #ffffff;
}

.darkTheme .changePasswordButton {
    color: #ffffff;
}

.darkTheme footer{
    background-color: #363636;
}

.darkTheme .textarea {
    background: #000000;
    border: #ffffff solid 5px;
    color: #ffffff;
}

.darkTheme .review-display li {
    color: #000000;
}

.darkTheme .review-button {
    background-color: #ffffff;
    color: #000000;
}

.darkTheme .review-button:hover {
    background-color: #6b6b6b;
}

.darkTheme .categories o{
    color: #ffffff;
}

.darkTheme .full-item h2 {
    color: #ffffff;
}

.darkTheme .full-item p {
    color: #ffffff;
}

.darkTheme  main b,
.darkTheme  .full-item b {
    color: #ffffff;
    border: none;
}

.darkTheme  .full-item b {
    border: 5px #ffffff solid;
}

.darkTheme .full-item .modal-content b {
    border: none;
}

.darkTheme .button-88 {
    --color: #ffffff;
}

.darkTheme footer{
    color: #ffffff;
}

.darkTheme .top-presentation {
    color: #ffffff
}

.darkTheme .logo-under {
    border-top: 5px solid #ffffff;
}

.darkTheme .footer-information {
    color: #ffffff;
}

.darkTheme .message1 .important  {
    color: #ffffff;
}

.darkTheme .important-text {
    color: #ffffff;
}


.darkTheme main .item:hover:nth-child(4n+1) {
    box-shadow: 0px 0px 90px 10px var(--nth-1);
}

.darkTheme main .item:hover:nth-child(4n+2) {
    box-shadow: 0px 0px 90px 10px var(--nth-2);
}

.darkTheme main .item:hover:nth-child(4n+3) {
    box-shadow: 0px 0px 90px 10px var(--nth-3);
}

.darkTheme main .item:hover:nth-child(4n+4) {
    box-shadow: 0px 0px 90px 10px var(--nth-4);
}

.darkTheme .conditions {
    color: #ffffff;
}

.darkTheme .conditions-border {
    border-bottom: 2px solid #ffffff;
}
 
.darkTheme .review-display li h2 {
    background: #000000;
    color: #ffffff;
    border: 3px solid #ffffff;
}

.darkTheme .loginInf {
    color: #ffffff;
}