@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu+Condensed&display=swap');


::-webkit-scrollbar {
    background-color: rgb(33, 2, 17);
    width: 6px;
    height: 6px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #dcbde2;
    border-radius: 5px
}

* {
    scrollbar-width: thin;
    scrollbar-color: #dcbde2 rgb(33, 2, 17);
    margin: 0;
    padding: 0;
}

body {

    color: #222;
    font-family: "Ubuntu Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
    overflow-x: hidden;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    overflow-x: hidden;
}

.wrapper {
    background: #ffffff;
    position: relative;
    width: auto;
    margin: 0px auto;
    min-height: 720px;
    transition: all 500ms ease;
    margin: auto;
}

.confetti1 {
    background-image: url('./img/ball1.png');
    animation: fall 70s infinite;
}
.confetti2 {
    background-image: url('./img/ball2.png'); 
    animation: fall1 75s infinite linear;
}
.confetti3 {
    background-image: url('./img/ball3.png'); 
    animation: fall 80s infinite linear;
}
.confetti4 {
    background-image: url('./img/ball4.png'); 
    animation: fall1 85s infinite linear;
}
.confetti5 {
    background-image: url('./img/ball5.png'); 
    animation: fall 90s infinite linear;
}
.confetti6 {
    background-image: url('./img/ball6.png'); 
    animation: fall1 100s infinite linear;
}
.confetti7 {
    background-image: url('./img/ball7.png');
    animation: fall 105s infinite linear;
}
.confetti8 {
    background-image: url('./img/ball8.png'); 
    animation: fall1 110s infinite linear;
}
.confetti9 {
    background-image: url('./img/ball9.png');
    animation: fall 65s infinite linear;
}
.confetti10 {
    background-image: url('./img/ball10.png'); 
    animation: fall1 60s infinite linear;
}
.confetti11 {
    background-image: url('./img/ball11.png');
    animation: fall 55s infinite linear;
}
.confetti12 {
    background-image: url('./img/ball12.png'); 
    animation: fall1 50s infinite linear;
}
.confetti13 {
    background-image: url('./img/ball13.png'); 
    animation: fall 115s infinite linear;
}

.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Это позволит кликам проходить через контейнер конфетти */
    overflow: hidden; /* Это предотвратит выход конфетти за пределы контейнера */
   }
   
@keyframes fall {
    0% {
      transform: translateY(-200px) rotate(0deg);
    }
    100% {
      transform: translateY(2000px) rotate(10000deg);
    }
  }
  
@keyframes fall1 {
    0% {
      transform: translateY(-200px) rotate(0deg);
    }
    100% {
      transform: translateY(2000px) rotate(-7000deg);
    }
  }

@media (min-width:1250) {
    .wrapper {
        width: 1500px;
    }
}

@media (max-width:500px) {
    .wrapper {
        flex-flow: column;
    }
}

.background-image {
    position: absolute;
    width: 1280px;
    height: 720px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    max-height: 120px;
    background-color: #80808056;
    border-radius: 0px 0px 20px 20px;
    z-index: 102;
    transition: all 500ms ease;
    animation: slideInHeader 2s forwards;
    border-bottom: solid #000; 
}

.upHeader {
    display: flex;
    max-height: 100px;
    justify-content: space-around;
    align-items: center;
    left: auto;
}


@media (min-width:1250) {
    .header {
        max-width: 100%;
    }
}

@keyframes slideInHeader {
    0% {
        transform: translateX(-150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

header:hover {
    transform: scale(1.005);
}


header .logo {
    background: #ffffff93;
    transition: all 500ms ease;
    padding: 5px 10px;
    border-left: 10px solid #000000;
    border-right: 10px solid #000000;
    border-top: 5px solid #000000;
    border-bottom: 5px solid #000000;
    font-weight: 400;
    font-size: 40px;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000000;
    border-radius: 20px;
    width: auto;
    animation: borderColorAnimation1 5s infinite linear; /* 4 секунды анимации + 5 секунд паузы */
}
@keyframes borderColorAnimation1 {
    0% { border-color: #FFA07A; }
    50% { border-color: #e59182; } /* темно-оранжевый цвет */
    100% { border-color: #FFA07A; }
}

@keyframes borderColorAnimation {
    0% {
        border-left: 10px solid #ffffff;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    5% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #ffffff;
        border-bottom: 5px solid #000000;
    }
    10% {
        border-left: 10px solid #000000;
        border-right: 10px solid #ffffff;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    15% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #ffffff;
    }
    20% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    25% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    30% {
        border-left: 10px solid #ffffff;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    35% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #ffffff;
        border-bottom: 5px solid #000000;
    }
    40% {
        border-left: 10px solid #000000;
        border-right: 10px solid #ffffff;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    45% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #ffffff;
    }
    50% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    55% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    60% {
        border-left: 10px solid #ce6464;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    65% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #ce6464;
        border-bottom: 5px solid #000000;
    }
    70% {
        border-left: 10px solid #80afe4;
        border-right: 10px solid #ce6464;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    75% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #80afe4;
        border-bottom: 5px solid #ce6464;
    }
    80% {
        border-left: 10px solid #af69a4;
        border-right: 10px solid #80afe4;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    85% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #af69a4;
        border-bottom: 5px solid #80afe4;
    }
    90% {
        border-left: 10px solid #000000;
        border-right: 10px solid #af69a4;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
    95% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #af69a4;
    }
    100% {
        border-left: 10px solid #000000;
        border-right: 10px solid #000000;
        border-top: 5px solid #000000;
        border-bottom: 5px solid #000000;
    }
}

header ul.nav {
    float: right;
    list-style: none;
    margin-right: 20px;
    margin-top: 15px;
}

header ul.nav li {
    display: inline-block;
    margin-right: 20px;
    cursor: pointer;
    transition: opacity 0.5s ease;
    opacity: 1; 
    color: #FFFFFF;
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    background: #FFDAB9;
    border-radius: 20px;
    padding: 10px 20px; 
    text-align: center;
    letter-spacing: 1px;
    border: 1px #000000 solid;
}

header ul.nav li:hover {
    opacity: 0.5; 
}

ul.nav {
    list-style-type: none; 
}

/* Стилизация для кнопки "Войти" */
ul.nav li:nth-child(1) {
    background: #FFA07A; /* светло-оранжевый фон */
}

/* Стилизация для кнопки "Выйти" */
ul.nav li:nth-child(2) {
    background: #e59182; /* темно-оранжевый фон */
}

/* Стилизация для кнопки "Поменять тему" */
ul.nav li:nth-child(3) {
    background: #FFA07A; /* светло-оранжевый фон */
}

.presentation {
    background: url(./img/bg1.jpg);
    height: 700px;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #995d5f;
    position: sticky;
    margin-bottom: 100px;
    top: -750px;
    border-radius: 50px;
    z-index: 100;
    margin-top: 70px;
    animation: slideInPresentation 3s forwards;
    justify-content: center;
    align-items: center;
}

@keyframes slideInPresentation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

header .presentation::after {
    content: 'Текст-1';
    position: absolute;
    top: 100px;
    left: 50px;
    width: 300px;
    font-size: 40px;
    color: #fff;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

header .presentation::before {
    content: 'Текст-2';
    position: absolute;
    top: 250px;
    left: 50px;
    width: 300px;
    font-size: 30px;
    color: #fff;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.cart-container{
    color: #e59182;
    margin-top: 30px;
    margin-right: 20px;
}
header .shop-cart-button {
    float: right;
    cursor: pointer;
    transition: color 1000ms ease;
    scale: 1.8;
}

header .shop-cart-button:hover,
header .shop-cart-button.active {
    color: #64372fc0;
    transform: scale(1.5)
}

header .shop-cart {
    border: 5px solid #000;
    position: absolute;
    top: 130px;
    width: 160px;
    background: #00000066;
    border-radius: 55px;
    animation: slideIn 1.5s forwards;
    opacity: 0;
    padding-bottom: 0;
    z-index: 101;
    max-height: 400px;
    overflow-y: auto;
    color: #ffffff;
    overflow-x:hidden;
}


header .shop-cart h2 {
    font-size: 35px;
}

@keyframes slideIn {
    0% {
        transform: translateY(200%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(200%);
        opacity: 0;
    }
}

header .shop-cart.close {
    animation: slideOut 1.5s;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    background: #00000091;
    border-radius: 45px;
    padding: 10px 0 0 0;
    box-shadow: 0 0 20px 10px #00000091, 0 0 5px 5px #00000091 inset;
    animation: slideInOpacity 0.7s;
    order: 1;

}

@keyframes slideInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

header .shop-cart .empty {
    color: #000000;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    background: #ffffff;
}

header .shop-cart .empty h2{
    font-size: 25px;
    font-weight: 200;
}

header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
    margin: 0 10px 20px 10px;
    transition: all 500ms ease;
}

header .shop-cart .item img:hover {
    transform: scale(1.1);
}

header .shop-cart .item h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 0 10px;
}

header .shop-cart .item p {
    color: #326723;
    font-weight: 600;
}

header .shop-cart .item .close {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 20px 0 0 0;
    transition: all 1000ms ease;
}

header .shop-cart .item .close:hover {
    transform: scale(1.1);
}

header .shop-cart .item .close:hover::before,
header .shop-cart .item .close:hover::after {
    transition: all 1000ms ease;
    background: #8a8a8a;
}

header .shop-cart .item .close::before,
header .shop-cart .item .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #ffffff;
}

header .shop-cart .item .close::before {
    transform: rotate(45deg);
}

header .shop-cart .item .close::after {
    transform: rotate(-45deg);
}

header .shop-cart .item .close.big {
    transform: scale(3);
}

header .shop-cart .item .close.black::before,
header .shop-cart .item .close.black::after {
    height: 8px;
    margin-top: -4px;
}

header .shop-cart .item .close.heavy::before,
header .shop-cart .item .close.heavy::after {
    height: 12px;
    margin-top: -6px;
}

header .shop-cart .item .close.rounded::before,
header .shop-cart .item .close.rounded::after {
    border-radius: 5px;
}

header .shop-cart .item .close.pointy::before,
header .shop-cart .item .close.pointy::after {
    width: 200%;
    left: -50%;
}

header .shop-cart .item .close.blades::before,
header .shop-cart .item .close.blades::after {
    border-radius: 5px 0;
}

header .shop-cart .sum {
    height: auto;
    float: left;
    width: 100%;
    font-weight: 900;
    font-size: 30px;
    margin: 0 0 10px 0;
    color: #ffffff;
    border-radius: 20px;
    font-weight: 400;
    font-style: normal;
    animation: slideInOpacity 0.7s;
    margin-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    order: 2;
    background: #00000091;
}

.buy {
    font-size: 30px;
    color: #ffffffb5;
    font-style: normal;
    animation: slideInOpacity 0.7s;
    cursor: pointer;
    transition: all 1000ms ease;
    letter-spacing: -1px;
    text-align: center;
    order: 3;
    float: left;
    border-radius: 25px;
    background: #00000091;

}

.buy:hover {
    color: rgb(63, 63, 63);
    background: #aaaaaa;
    box-shadow: 0 0 10px 10px #5c5c5c86, 0 0 10px 10px #5c5c5c86 inset;
}

.closeButton {
    position: absolute;
    right: -30px;
    top: -30px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
    margin: 0 0 750px 0;
}

.trigger {
    position: sticky;
    background: #e59182;
    cursor: pointer;
    height: 40px;
    border-radius: 20px;
    transition: all 500ms ease;
    z-index: 104;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    border-bottom: solid #000;
    top: 80px;
    animation: slideInTriger 2s forwards;
    z-index: 102;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin: 0 100px;
}

.trigger:hover {
    background: #ffffff;
}

.triger-background {
    animation: slideInTriger 2s forwards;
    position: sticky;
    top: 80px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    transition: all 500ms ease;
    z-index: 102;
    left: 50%;
    transform: translateX(-50%); 
}


@keyframes slideInTriger {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 90%;
    }
}

.triger-background .trigger:hover {
    transform: scale(1.1);
}

.hide-area {
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    cursor: pointer;
    margin: 0 20px 0 0;
}

.categories {
    z-index: 102;
}

.categories.show {
    z-index: 102;
    transform: translateX(0);
    opacity: 70%;
    position: sticky;
    top: 100px;
    border: 1px solid #000;
    width: 300px;
    height: 150px;
    overflow-inline: auto;
    transition: all 500ms ease;
    border-radius: 15px;
    background: #a14984;
    overflow-x: hidden;
    direction: rtl;
    margin: -10px;
}

.categories:hover {
    border-color: silver;
    transform: scale(1.0);
}

.categories o{
    color: #000000;
    font-size: 30px;
    font-family: "Ubuntu Condensed", sans-serif;
    font-style: normal;
}

.categories li {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
    align-items: center;
    display: flex;
    background: #82d3d3;
    border-radius: 15px;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    height: 15px;
    line-height: 20px;
    text-align: center;
    position: sticky;
    border: 1px solid #000;
    width: 100px;
    margin: 0 0 5px 0;
    justify-content: center;
}


.categories li{
    list-style-type: none; 
}

.categories li:nth-child(2) {
    background: #FFA07A;
}

.categories li:nth-child(3) {
    background: #e59182;
}
.categories li:nth-child(4) {
    background: #FFA07A;
}

.categories li:nth-child(5) {
    background: #e59182;
}
.categories li:nth-child(6) {
    background: #FFA07A;
}


.categories div:hover {
    border-color: silver;
    transform: scale(1.0);
}

.full-item {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: auto;
    z-index: 103;
    animation: slideInFullItem 1s forwards;
}

@keyframes slideInFullItem {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.full-item>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 40px 30px;
    border-radius: 9px;
    background: #fff;
}

@media screen and (max-width: 550px) {
    .modal-content .item h2 {
        margin: 0 0 0 -110px;
    }
    .modal-content .item {
        margin: 0px 0px 10px 70px;
    }
    .closeButton {
        right: 5px;
        top: 5px;
    }
    .button-88 {
        margin: 0 0 0 -20px;
    }
    header .shop-cart {
        margin: 0 0 0 15px;
    }
    header .shop-cart .item {
        border-radius: 45px 45px 0 0;
    }
    header .shop-cart .item img{
        margin: 0 0 10px 30px ;
    }
    header .shop-cart .item h2,
    header .shop-cart .item b{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    header .shop-cart .item b{
        margin: 0 0 0 40px ;
    }
    header .shop-cart .item .close {
        margin: 0 0 0 40px;
    }
    header .logo {
        font-size: 35px;
    }
    .full-item > div {
        display: block;
        justify-content: center;
        align-items: center;
        width: 250px;
    }
    .triger-background {
        top: 100px;
        margin-right: auto;
    }
    header ul.nav {
        display: flex;
        flex-direction: column;
    }
    header ul.nav li{
        padding: 1px;
        margin-bottom: 1px;
    }
    .buy {
        font-size: 18px;
        width: 65px;
        justify-content: center;
        align-items: center;
        padding: 0 0 0 10px;
    }
    header .shop-cart-button {
        margin: 30px -10px 0 0 ;
        scale: 1.5;
    }
    .full-item .next {
        margin-left: 155px;
    }
    .modal-content .sum {
        font-size: 20px;
        margin: 0 0 0 50px;
    }
    .presentation {
        height: 450px;
        top: -400px;
        margin-bottom: 300px;
    }
    header .shop-cart {
        width: 130px;
    }
    header .shop-cart h2 {
        font-size: 25px;
    }
    .cart-container{
        margin-right: 30px;
        margin-top: 20px;
    }
    .payButton{
        margin: 30px 0 0 50px;
    }
}

@media screen and (min-width: 550px) {
    .payButton{
        margin: -20px 0 0 200px;
    }
    .modal-content button {
        margin: 50px 0 0 50px;
    }
    .modal-content .sum {
        font-size: 20px;
        margin: -40px 0 0 200px;
    }
    .full-item .next {
        margin-left: 300px;
    }
    .triger-background {
        margin-left: auto;
    }
    .modal-content .item {
        margin: 0px 0px 10px 140px;
    }
    header .shop-cart {
        left: auto;
    }
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    top: 30px;
    position: relative;
    z-index: 101;
    opacity: 90%;
    animation: slideIn 2s forwards;
    transition: all 1000ms ease;
}

@keyframes slideInMain {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

main .item {
    opacity: 95%;
    width: 25.5%;
    margin-bottom: 50px;
    background: #b8b8b8;
    position: relative;
    padding-bottom: 20px;
    border-radius: 90px 90px 30px 30px;
    border: 5px solid #000000;
    transition: all 500ms ease;
}

@media screen and (max-width: 768px) {
    main .item {
        width: 45%;
        margin: 50px;
    }
}

@media screen and (max-width: 500px) {
    main .item {
        width: 600px;
    }
}

main .item:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 90px 15px #2c2c2c;
    opacity: 100%;
}

.image-container {
    position: relative;
    display: inline-block; /* или flex, в зависимости от вашей разметки */
    width: 100%; /* Убедитесь, что контейнер имеет достаточную ширину */
    height: 100%; /* Убедитесь, что контейнер имеет достаточную высоту */
}

main .item img{
    width: 100%;
    border-radius: 90px 90px 0 0;
    transition: all 500ms ease;
    cursor: pointer;
    box-shadow: 0 0 20px 10px #ffffff inset;
    border-bottom: 5px solid #000000;
    margin: 0 0 0 0;
}
.full-item img {
    width: 100%;
    border-radius: 90px 90px 0 0;
    transition: all 500ms ease;
    cursor: pointer;
    box-shadow: 0 0 20px 10px #ffffff inset;
    border-bottom: 5px solid #ffffff;
    margin: 0 0 0 0;
    cursor: zoom-in
}

.img-hidden {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

main .item .img1,
.full-item .img1 {
    top: 1px;
    position: absolute;
    width: 60px;
    border-radius: 50%;
    transition: all 500ms ease;
    cursor: pointer;
    border: 3px solid #ffa07a9a;
    z-index: 1;
    margin: -10px 0 0 5px;

}

main .item:hover .img1:hover {
    transform: scale(1.2);
    animation: shadowAnimation 1.5s infinite;
    opacity: 100%;
}


@keyframes scaleAnimation {
    0% {
        transform: scale(1.0);
        box-shadow: 0 0 15px 10px #7e7e7e69, 0 0 15px 5px #000000 inset ;
        opacity: 60%;
    }
    50% {
        transform: scale(1.1);
        box-shadow: 0 0 20px 15px #805d5d69, 0 0 15px 5px #000000 inset ;
        opacity: 100%;
    }
    100% {
        transform: scale(1.0);
        box-shadow: 0 0 15px 10px #7e7e7e69, 0 0 15px 5px #000000 inset ;
        opacity: 60%;
    }
}

@keyframes shadowAnimation {
    0% {
        box-shadow: 0 0 10px 5px #ffa07a3f, 0 0 15px 5px #ffffff inset ;
    }
    50% {
        box-shadow: 0 0 15px 10px #ffa07a9a, 0 0 15px 5px #ffffff inset ;
    }
    100% {
        box-shadow: 0 0 10px 5px #ffa07a3f, 0 0 15px 5px #ffffff inset ;
    }
}

main .item:hover .img1 {
    animation: scaleAnimation 1.5s infinite;
}

:root {
    --min-scale: 3; /* Минимальный масштаб */
    --max-scale: 6; /* Максимальный масштаб */
  }

.item .img1-click,
.full-item .img1-click {
      top: 10px;
      position: absolute;
      width: 90px;
      border-radius: 50%;
      transition: all 500ms ease;
      cursor: pointer;
      z-index: 1;
      margin: -150px 0 0 0;
      box-shadow: 0 0 25px 15px #0000004f, 0 0 25px 15px #0000004f inset;
      border: 5px solid #ffa07a9a;
      border-radius: 50%;
      text-align: center;
      justify-content: center;
      align-items: center;
      transform: scale(1);
  }

  main .item:hover .img1-click:hover {
    animation: shadowAnim 2s infinite;
}

  @keyframes shadowAnim {
    0% {
        box-shadow: 0 0 20px 15px #88787241, 0 0 15px 5px #ffa07a36 inset ;
    }
    50% {
        box-shadow: 0 0 30px 20px #ffa07a67, 0 0 15px 5px #ffa07a36 inset ;
    }
    100% {
        box-shadow: 0 0 20px 15px #88787241, 0 0 15px 5px #ffa07a36 inset ;
    }
}
  
  @media (min-width: 600px) {
      .item .img1-click,
      .full-item .img1-click {
          transform: scale(2); 
      }
  }

  @media (min-width: 770px) {
    .item .img1-click,
    .full-item .img1-click {
        transform: scale(1.5); 
    }
}
  
  @media (min-width: 900px) {
      .item .img1-click,
      .full-item .img1-click {
          transform: scale(2); 
      }
  }

  @media (min-width: 1300px) {
    .item .img1-click,
    .full-item .img1-click {
        transform: scale(2.3); 
    }
}

@media (min-width: 1550px) {
    .item .img1-click,
    .full-item .img1-click {
        transform: scale(2.6); 
    }
}

.full-item img {
    border-radius: 50px 50px 10px 10px;
    border: 3px solid #ffffff
}

main .item .mainImg img:hover,
.full-item .mainImg img:hover {
    transform: scale(1.03);
    border:2px solid #000;
    box-shadow: 0px 11px 17px -5px #2c2c2c;
    color: #ababab3a;
    border-radius: 80px 80px 10px 10px;
}

@media (hover: hover) {
    main .item .mainImg img:hover,
    .full-item .mainImg img:hover {
        box-shadow: 0px 11px 17px -5px #2c2c2c;
        transform: scale(1.03);
        color: #ababab3a;
    }
}

@media (hover: none) {
    main .item .mainImg img:hover,
    .full-item .mainImg img:hover {
        box-shadow: 0px 11px 17px -5px #2c2c2c;
        transform: scale(1.03);
        color: #ababab3a;
    }
}

main h2,
.full-item h2,
main p {
    margin: 20px 0 10px 0px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: normal;
}

.full-item h2 {
    margin: 10px 0 10px 0px;
    font-size: 40px;
}

.full-item p {
    margin: 10px 0 10px 0px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
}


main b,
.full-item b {
    margin: 0 10px 0 10px;
    border-radius: 20px;
    border-width: 5px; /* Установите желаемую ширину границы */
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    letter-spacing: -2px;
}

main .item:nth-child(odd) b {
    border: 5px #e59182 solid;
}

main .item:nth-child(even) b {
    border: 5px #FFA07A solid;
}

main b .full-item b {
    color: #5fa35f;
}

.full-item .previous {
    background: #ffffff7e;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #000000;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
    margin-bottom: 10px; /* Добавьте отступ снизу для разделения элементов */
    margin-left: 10px;
}

.full-item .next {
    background: #ffffff7e;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    color: #000000;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
    margin-bottom: 10px; 
}

.full-item .next-previous {
    margin-top:-50px;
    position: absolute;
    display: flex; 
}

.full-item .previous {
    margin-right: 10px; 
}

main .add-to-cart,
.full-item .add-to-cart {
    position: absolute;
    right: 20px;
    margin: -54px -10px 0 0 ;
    width: 50px;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    transition: all 500ms ease;
}

.item:nth-child(odd) .add-to-cart {
    background: #e59182;
}

.item:nth-child(even) .add-to-cart {
    background: #FFA07A;
}

.full-item .add-to-cart{
    margin: -50px 20px 20px 20px;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
    transform: scale(1.1) ;
    background: #595959;
    font-size: 35px;
}

footer {
    color: #000;
    text-align: center;
    margin-top: 100px;
}

.button-88 {
    position: relative;
    --b: 3px;
    --s: .45em;
    --color: #ffffff;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    align-items: center;
    text-align: center;
    margin: 0 120px 10px 120px;
}

.button-88:hover,
.button-88:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button-88:active {
    background: var(--color);
    color: #fff;
}

.animated-text {
    font-size: 30px;
    animation: lineSlide 1s linear forwards;
    margin: 10px 0 10px 0px;
    color: #ffffff;
    font-weight: 400;
    font-style: normal;
}

@keyframes lineSlide {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    25% {
        opacity: 0.25;
        transform: translateY(15px);
    }

    50% {
        opacity: 0.5;
        transform: translateY(10px);
    }

    75% {
        opacity: 0.75;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*server.css*/

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.modal-content button {
    background-color: #506839;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.modal-content button:hover {
    background-color: #547e2e;
    ;
}

.modal-content .item {
    display: flex;
    flex-direction: row;
    width: 110px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background: #00000060;
    box-shadow: 0px 0px 10px 10px #0000002e, 0px 0px 10px 10px #08080847 inset;
    padding: 0 20px 0 20px;
    border-radius: 20px;
}

.modal-content .item img {
    margin: 10px 0 0 0;
    transition: all 1500ms ease;
    border: 0px;
}

.modal-content .item img:hover,
.modal-content img:hover {
    transform: scale(1.13);
    box-shadow: 0px 11px 17px -5px #2c2c2c;
    color: #ababab3a;
}


.modal-content h2 {
    margin: 0 0 0 -150px;
}

.modal-content p {
    margin: 0;
}

.modal-content b {
    margin: 10px 0 0 25px;
    border: none;
}

.modal-content .item .close .heavy::before,
.modal-content .item .close .heavy::after {
    height: 12px;
    margin-top: -6px;
}

.modal-content .item .close .rounded::before,
.modal-content .item .close .rounded::after {
    border-radius: 5px;
}

.modal-content .sum {
    width: 100%;
    font-weight: 900;
    font-size: 25px;
    color: #1a3912b5;
    border-radius: 20px;
    font-weight: 400;
    font-style: normal;
    animation: slideInOpacity 0.7s;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

/*server.css*/

.order-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.changePasswordButton {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    transition: all 200ms ease;
}

.changePasswordButton:hover {
    color: #244177;
    transform: scale(1.05) translateX(2px);
}

.changePasswordForm {
    transition: all 500ms ease;
}

.login-form {
    transition: all 500ms ease;
}