.darkTheme header .logo {
    color: #ffffff;
    border-left: 10px solid #ffffff;
    border-right: 10px solid #ffffff;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
    background: #00000080;
}

.darkTheme header {
    background-color: #00000091;
    border-bottom: solid #ffffff; 
}

.darkTheme ul.nav li {
    color: #3a3a3a;
    opacity: 0.7;
    border: 1px #ffffff solid;
    transition: all 500ms ease;
}

.darkTheme header ul.nav li:hover {
    color: #ffffff;
    opacity: 1;
}

.darkTheme .wrapper {
    background: #4b4b4b;
}

.darkTheme .cart-container{
    color: #ffffff;
    opacity: 0.8;
}

.darkTheme header .shop-cart-button:hover,
.darkTheme header .shop-cart-button.active {
    color: #fffffff5;
}

.darkTheme .buy {
    color: #242424b5;
    background: #c7c7c786;
    box-shadow: 0 0 10px 10px #d4d4d486, 0 0 10px 10px #d4d4d486 inset;
}

.darkTheme .buy:hover {
    color: #ffffffb5;
    background: #69696986;
    box-shadow: 0 0 10px 10px #2e2e2e86, 0 0 10px 10px #2e2e2e86 inset;
}

.darkTheme .trigger {
    background: #856661;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    border-top: 1px solid #ffffff;
}

.darkTheme .trigger:hover {
    background: #4b4b4b;
}

.darkTheme footer {
    color: #ffffff;
}

.darkTheme main .item {
    background: #3a3a3a;
    border: 5px solid #ffffff;
}

.darkTheme main .item h2,
.darkTheme main .item p,
.darkTheme main .item b{
    color: #ffffff;
}

.darkTheme main b,
.darkTheme .full-item b {
    border: 5px #ffffff solid;
}

.darkTheme main .add-to-cart,
.darkTheme .full-item .add-to-cart{
    margin: -53px -10px 0 0 ;
    background: #ffffff;
    color: #000;
}

.darkTheme main .add-to-cart:hover,
.darkTheme .full-item .add-to-cart:hover {
    background: #686868;
    color: #222222;
}

.darkTheme main .item img{
    border-bottom: 5px solid #ffffff;
}

main .item :nth-child(even) .img1 ,
.full-item:nth-child(even) .img1 {
    box-shadow: 0 0 10px 5px #FFA07A, 0 0 10px 5px #ffffff69 inset ;
}

main .item :nth-child(odd) .img1 ,
.full-item:nth-child(odd) .img1 {
    box-shadow: 0 0 10px 5px #e59182, 0 0 10px 5px #ffffff69 inset ;
}

.darkTheme main .item .img1,
.darkTheme .full-item .img1 {
    border-bottom: 3px solid #ffa07a9a;
}

.darkTheme main .item .img1-click,
.darkTheme .full-item .img1-click {
    border-bottom: 5px solid #ffa07a9a;
}

.darkTheme main .item .img1,
.darkTheme .full-item .img1 {
    box-shadow: 0 0 10px 5px #ffa07a9a, 0 0 10px 5px #ffffff69 inset ;
}

.darkTheme header .shop-cart {
    border: 5px solid #ffffff;
    background-color: #ffffff;
}

.darkTheme header .shop-cart .empty {
    background-color: #000000;
}

.darkTheme header .shop-cart .item{
    background: #d4d4d486;
    box-shadow: 0 0 10px 10px #d4d4d486, 0 0 10px 10px #d4d4d486 inset;
}

.darkTheme header .shop-cart h2 {
    color: #000000;
}

.darkTheme header .shop-cart b {
    color: #000000;
}

.darkTheme header .shop-cart .sum{
    border: 1px solid #000000;
    color: #242424b5;
    background: #c7c7c786;
    box-shadow: 0 0 10px 10px #d4d4d486, 0 0 10px 10px #d4d4d486 inset;
}

.darkTheme header .shop-cart .item .close.rounded::before{
    background: #000000;
} 
.darkTheme header .shop-cart .item .close.rounded::after{
    background: #000000;
}

.darkTheme .full-item>div {
    background: #2e2e2e; 
}

.darkTheme form {
    background: #1d1d1d; 
}

.darkTheme form .name {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .phone {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .message {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .email {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .password {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .verify {
    background: #3a3a3a;
    color: #e9dbdb;
}

.darkTheme form .name1 {
    color: #fff;
}

.darkTheme form .phone1 {
    color: #fff;
}

.darkTheme form .message1 {
    color: #fff;
}

.darkTheme form .email1 {
    color: #fff;;
}

.darkTheme form .password1 {
    color: #fff;
}

.darkTheme form .verify1 {
    color: #fff;
}

.darkTheme .modal-content h2 {
    color: #ffffff;
}

.darkTheme .modal-content .sum {
    color: #ffffff;
}

.darkTheme .modal-content b {
    color: #ffffff;
}

.darkTheme .changePasswordButton {
    color: #ffffff;
}

.darkTheme Footer{
    background-color: #4b4b4b;
}

.darkTheme .textarea {
    background: #000000;
    border: #ffffff solid 5px;
    color: #ffffff;
}

.darkTheme .review-display li {
    background: #000000;
    border: 5px solid #ffffff;
    color: #ffffff;
}

.darkTheme .review-button {
    background-color: #ffffff;
    color: #000000;
}

.darkTheme .review-button:hover {
    background-color: #6b6b6b;
}